* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-primary: #65558f;
  --color-secondary: #9987c5;
  --color-light: #f7ebff;
  --color-lighter: #fcf8ff;
  scroll-behavior: smooth;
  scroll-padding-top: 90px;
}

/* #region :::: UTILITY RULES :::: */
body {
  font-family: "Poppins", sans-serif;
  background-color: var(--color-lighter);
}

a {
  text-decoration: none;
}

.bg_primary {
  background-color: var(--color-primary);
  color: var(--color-lighter);
}

.bg_light {
  background-color: var(--color-light);
}

.font_light {
  color: var(--color-lighter);
}

.border_primary {
  border: 1px solid var(--color-primary)
}

.btn {
  background-color: var(--color-lighter);
  color: var(--color-dark);
  border: none;
  border-radius: 1.5rem;
  font-weight: 600;

  &:hover {
    background-color: var(--color-secondary);
    color: var(--color-lighter);
  }
}

/* #endregion :::: UTILITY RULES :::: */

/* #region :::: HEADER :::: */

header {
  scroll-behavior: smooth;
  scroll-padding-top: 90px;
  background-color: var(--color-primary);
  padding: 0.8rem 0;


  .logo,
  .login {
    width: 30%;
  }

  .logo {
    font-family: "Unica One", sans-serif;
    font-weight: 400;
    font-style: normal;
    justify-content: flex-start;

    a {
      color: var(--color-lighter);
    }
  }

  .links {
    color: var(--color-lighter);
    font-size: 0.8rem;
    font-weight: 600;

    a {
      text-decoration: none;
      color: var(--color-lighter);

      &:hover {
        color: var(--color-light);
        border-bottom: 2px solid var(--color-secondary);
      }
    }
  }

  .login {
    justify-content: flex-end;
  }

  .btn_login {
    font-size: 0.8rem;
    padding: 0.4rem 0.7rem;

    &:hover {
      background-color: var(--color-secondary);
      color: var(--color-lighter);
    }
  }
}

/* #endregion :::: HEADER :::: */

/* #region :::: MAIN :::: */
/* Banner */
.banner {
  position: relative;
  height: 600px;
  background-image: url(../img/travelog_cover.webp);
  background-position: right;
  background-size: contain;
  background-repeat: no-repeat;

  .banner_content {
    position: relative;

    left: -13%;

    h2 {
      font-family: "Unica One", sans-serif;
    }
  }

  .cta {
    background-color: var(--color-primary);
    padding: 0.7rem 1.5rem;
    font-size: 1rem;

    a {
      color: var(--color-lighter);
    }

    &:hover {
      background-color: var(--color-secondary);
      color: var(--color-lighter);
    }
  }
}

/* Features */
#features {
  .icon-square {
    width: 3.5rem;
    aspect-ratio: 1;
  }

  i {
    color: var(--color-lighter);
  }
}

/* Pricing */
#pricing {
  table {
    tr {

      th,
      td {
        background-color: var(--color-lighter);
      }

      &:hover {

        td {
          background-color: var(--color-secondary);
          color: var(--color-lighter);
        }
      }
    }

  }
}

/* Tutorial */
#tutorial {
  .video_container {
    max-width: 25%;
    overflow: hidden;

    video {
      width: 100%;
      height: auto;
      border-radius: 0.8rem;
    }
  }
}

/* #endregion :::: MAIN :::: */

/* #region :::: FOOTER :::: */
a {
  color: var(--color-lighter)
}

/* #endregion :::: FOOTER :::: */